@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

progress[value]::-webkit-progress-value {
  background-color: black;
}
progress[value]::-webkit-progress-bar {
  background-color: #e5e5e5;
}

body {
  overflow-x: hidden;
}
